
<section class="anyFilteres">
    <div class="container">
      <div class="wrapper">
        <div class="inputs">
          <label class="inputWrapper">
            <p>Search title:</p>
            <input
              type="text"
              placeholder="Pro"
              [(ngModel)]="productListService.input"
            />
          </label>
          <label class="inputWrapper">
            <p>Select category:</p>
            <select [(ngModel)]="productListService.selectedOption">
              <option value="" selected disabled>Choose any option</option>
              @for (option of productListService.options; track option) {
              <option [value]="option">{{ option }}</option>
              }
            </select>
          </label>
        </div>
        <div class="ranges">
          <label class="rangeWrapper">
            <p>Price range: {{ productListService.curPriceRange }}</p>
            <div class="minmax">
              <div class="min">0</div>
              <div class="max">{{ (productListService.maxPrice() + 1) }}</div>
            </div>
            <input
              type="range"
              [(ngModel)]="productListService.curPriceRange"
              min="0"
              [max]="productListService.maxPrice() + 1"
              step="50"
            />
          </label>
          <label class="rangeWrapper">
            <p>Rating range: {{ productListService.ratingRange }}</p>
            <div class="minmax">
              <div class="min">0</div>
              <div class="max">5</div>
            </div>
            <input
              type="range"
              [(ngModel)]="productListService.ratingRange"
              min="1"
              max="5"
              step="1"
            />
          </label>
        </div>
      </div>
    </div>
  </section>